<!doctype html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi plantilla</title>

</head>


<body>

    <h1>Mi pagina</h1>
    <h2>Contenido</h2>
    <ul>
        <li>Fecha {{ .Page.Date}}</li>
        <li>Título {{ .Page.Title}}</li>
        <li> Valor de variable bar {{.Params.bar}}</li>
        <li> URL {{.Site.BaseURL}}</li>
        <li> CopyRight {{.Site.Copyright}}</li>
    </ul>
</body>
</html>